<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='input_theme.css') }}">
<html>
    <head>
        <title>Write Zeugs</title>
    </head>
    <div class="wrapper">
    <body>
    <div class="header">
        <a href="/">Home</a>
        <a href="/input">Inserts</a>
        <a href="/search">Search</a>
    </div>
    <div class="main_box">
    <h1>Write to DB</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}
            {{ form.title(size=50) }}
        </p>
        <p>
            {{ form.author.label }}
            {{ form.author(size=50) }}
        </p>
        <p>
            {{ form.words.label }}
            {{ form.words(size=6) }}
        </p>
        <p>
            {{ form.summary.label }}
            {{ form.summary(size=100) }}
        </p>
        <p>
            {{ form.characters.label }}
            {{ form.characters }}
            {{ form.relationships.label }}
            {{ form.relationships }}
            {{ form.genres.label }}
            {{ form.genres }}
            {{ form.tags.label }}
            {{ form.tags }}

        <p>
            {{ form.serial.label }}
            {{ form.summary(size=100) }}
        </p>

        <p>
            {{ form.part.label }}
            {{ form.part(size=20) }}
        </p>

        <p>
            {{ form.status.label }}
            {{ form.status(size=3) }}
        </p>


        <p>{{ form.submit() }}</p>
        </form>
        </div>
    </body>
</div>